# Python bytecode
__pycache__/
*.pyc

# Python virtual environments
.venv/
venv/
env/

# Image/data output
data/
images/
*.npy
*.jpg

# Jupyter/IPython stuff (if applicable)
*.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
